<div id="test-container">

  <div>
    <a href="#" class="btn-white">Something else</a>
    <a href="#" class="btn-blue">Something else</a>
  </div>

  <div>
    <input class="wix-radio" type="radio" value="radioValue" name="radioName" id="radioID"/>
    <label for="radioID">This is a styled radio button</label>
    <input class="wix-radio" type="radio" value="radioValue" name="radioName" id="radioID2"/>
    <label for="radioID2">This is another styled radio button</label>
  </div>

  <div>
    <input class="wix-checkbox" type="checkbox" value="checkboxValue" name="checkboxName" id="checkboxID"/>
    <label for="checkboxID">This is a styled radio button</label>
  </div>

  <div>
    <div class="colorPicker-picker"></div>
  </div>

  <div class="settings-window">

    <!-- Top settings pane -->
    <div class="settings-header">

      <!-- App logo -->
      <div class="logo">
        <a target="_blank" href="#">
          <img src="images/demo/logo.png" alt="Application Logo">
        </a>
      </div>

      <!-- Connect box -->
      <div data-ng-hide="connected()" class="connect">
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor accumsan hendrerit. Nulla dictum dignissim iaculis. Mauris in eros diam. Duis auctor rhoncus massa at commodo.</p>
        <a class="btn-blue bottom-right">Connect Account</a>
        <p class="bottom-left">Don't have a Google account? <a target="_blank" href="#">Create one</a>
      </div>

    </div>

    <!-- Settings accordion -->
    <div class="accordion-window" data-ui-accordion data-ui-height-style="auto" data-ui-header="div > h2">

      <!-- Accordion pane -->
      <div class="accordion-pane">
        <h2 class="accordion-header">Contents</h2>
        <div class="accordion-content">
          <ul class="settings-list">
            <li class="settings-option">
              <label for="font-type">Font</label>
              <select style="width: 100px;" data-ui-chosen data-ng-model="user.fontFamily" id="font-type"></select>
            </li>
            <li class="settings-option">
              <label for="font-size">Size</label>
              <select style="width: 100px;" data-ui-chosen data-ng-model="user.fontSize" id="font-size"></select>
            </li>
            <li class="settings-option">
              <label class="colorPicker-label" for="title-color">Title color</label>
              <div class="colorPicker-picker"></div>
            </li>
            <li class="settings-option">
              <label class="colorPicker-label" for="text-color">Text color</label>
              <div class="colorPicker-picker"></div>
            </li>
            <li class="settings-option full-width">
              <label class="colorPicker-label" for="url-color">URL color</label>
              <div class="colorPicker-picker"></div>
            </li>
            <li class="settings-option full-width">
              <label class="colorPicker-label" for="border-color">Border color</label>
              <div class="colorPicker-picker"></div>
            </li>
            <li class="settings-option full-width">
              <label class="colorPicker-label" for="background-color">Background color</label>
              <div class="colorPicker-picker"></div>
            </li>
        </ul>
        </div>
      </div>

      <!-- Accordion pane -->
      <div class="accordion-pane">
        <h2 class="accordion-header">Contents</h2>
        <div class="accordion-content">

        </div>
      </div>

      <!-- Accordion pane -->
      <div class="accordion-pane">
        <h2 class="accordion-header">Contents</h2>
        <div class="accordion-content">

        </div>
      </div>

    </div>

  </div>

</div>