<a href="#" class="btn_white">Something else</a>
<a href="#" class="btn_blue">Something else</a>

<input type="radio" value="radioValue" name="radioName" id="radioID"/>
<label for="radioID">This is a styled radio button</label>
<input type="radio" value="radioValue" name="radioName" id="radioID2"/>
<label for="radioID2">This is another styled radio button</label>

<input type="checkbox" value="checkboxValue" name="checkboxName" id="checkboxID"/>
<label for="checkboxID">This is a styled radio button</label>