<div style="margin: 25px;">
    <div>
        <h1>Hello Wix!</h1>
    </div>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor accumsan hendrerit. Nulla dictum dignissim iaculis. Mauris in eros diam. Duis auctor rhoncus massa at commodo.</p>
    <a href="#" class="btn_white">Something else</a>
    <a href="#" class="btn_blue">Something else</a>

    <div class="row-fluid">
        <div class="span6">
            <h2>View project on GitHub</h2>
            <p>Maecenas eget elit libero. Phasellus ut purus turpis. Cras consectetur ornare sem ac condimentum. Ut mattis sagittis elit at iaculis. Cras fermentum magna a felis consequat eu blandit augue pretium.</p>
            <p><a class="btn btn-large btn-primary" href="">Fork us</a></p>
        </div>
        <div class="span6">
            <h2>Check out the demo</h2>
            <p>Quisque rutrum quam eget eros tempor id pharetra sapien laoreet. Donec congue sapien elementum quam accumsan feugiat. Integer tortor sapien, scelerisque quis malesuada quis, dignissim at lectus.</p>
            <p><a href="settings" class="btn btn-large">See it live</a></p>
        </div>
    </div>
</div>