<div class="front" style="padding: 2em;">
    <div class="header">
      <h1>Hello Wixers!</h1>
      <p class="lead">Welcome to the Wix AngularJS application framework.</p>
    </div>

    <div class="fork-us">
      <h2>View project on GitHub</h2>
      <a class="btn btn-large btn-primary" href="https://github.com/ranm8/wix-angular-seed">Fork us</a>
    </div>

    <div class="check-demo">
      <h2>Check out the demo</h2>
      <a class="btn btn-large" href="demo">View demo</a>
    </div>
</div>