/*
Dialog implementation for popups.

Add "ui-warning" for an exclamation mark.
Example:
<div id="dialog" title="Title" ui-warning>Dialog description...</div>

Automatically imports with the dialog module.
See <a href="#">Dialog module</a>
*/

%dialog-modal {
  box-shadow: 0 0 8px #bbb;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
  text-align: left;
  padding: 10px;
  background: #fff;
  outline: none;

  &.ui-warning {
    padding-left: 70px;
    background: #fff inline-image("settings/ge/ge_exclamation.png") 15px 50px no-repeat; }
  .ui-dialog-titlebar span {
    display: inline-block;
    font-size: 20px;
    padding: 10px 0;
    color: red; }
  .ui-dialog-titlebar-close {
    @include background-image("settings/ge/ge_close.png");
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    outline: none; }
  .ui-dialog-buttonset {
    button { float: left; }
    button:first-child { float: right; } }
}
%dialog-overlay {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111 50% 50% repeat;
  opacity: .7;
  filter: Alpha(Opacity=70);
}

.ui-dialog { @extend %dialog-modal; }
.ui-widget-overlay { @extend %dialog-overlay; }