// ******************************************************************************************************************************
// Partials
// ******************************************************************************************************************************
@import "compass/css3";
@import "partials/emphasize.scss";
@import "modules/background-image.scss";
@import "modules/inline-block.scss";

// ******************************************************************************************************************************
// Variables
// ******************************************************************************************************************************
$wixBlue: #0099ff;
$wixBright: #f6f6f6;
$wixGray: #c5c5c5;
$wixDark: #3a3a3a;