p { line-height: 1.2; color: #000; }
a:visited,
a:hover,
a:active,
a { color: $wixBlue; }
ul { list-style: none; padding: 0; margin: 0; }

.style_setting {
    border-top: 1px solid $wixGray;
    height: 51px;
    line-height: 51px;
  & > div { @include inline-block(55%,auto,auto,middle,auto); }
  & > .opacity { width: 43%; }
  label {
    line-height: 51px;
    display: inline-block;
    float: none !important;
    color: $wixDark; }
  label:first-child {
    width: 180px;
    text-indent: 20px;
    color: $wixDark; }
  label[for="shadow"] {
    margin-top: 15px;
    text-indent: 20px; }
}

.settings_layout {
  .layouts,
  .types {
    padding-top: 10px;
    border-top: 1px solid #e7e7e7;
    li {
      @include inline-block(32%,auto,center,auto,auto);
      position: relative;
      vertical-align: top;
      label {
        margin: 10px 0;
        display: block;
        width: 100%; } }
    img { margin: 50px 0; } }
  .disabled { opacity: 0.5; }

  .layouts {
    li { margin: 0 0 120px; }
    li:after {
      content: "";
      left: 50%;
      position: absolute;
      //background: transparent inline-image("settings/bg/bg_tile.png") top left repeat;
      border: 1px solid #ccc; } }

  .types {
    li:after {
    content: "";
    border-left: 1px solid #e5e5e5;
    height: 120px;
    position: absolute;
    top: 80px;
    left: 0; }
    li:first-child:after { border: none; } }

  .cornder_radius {
    padding: 15px 0 0;
    border-top: 1px solid #e7e7e7;
    h3 {
      @include inline-block(auto,auto,auto,top,29px);
      color: #3A3A3A;
      margin: 0 70px 0 20px;
      font-size: 14px; }
    .radiuses {
      @include inline-block(auto,auto,auto,top,auto);
      font-size: 0; }
    label {
      @include inline-block(50px,50px,auto,auto,auto);
      vertical-align: top;
      float: none;
      margin: 0 60px 0 0;
      position: relative;
      color: transparent;
      opacity: 0.5;
      background: #e6e6e6; }
    label:before { left: -25px; }
    label:after {
      content: "";
      background: none;
      height: 16px;
      width: 16px;
      border: 6px solid #94DCFF;
      border-width: 6px 0 0 6px;
      left: 50%;
      top: 15px;
      margin-left: -9px;
      position: absolute; }
    label:hover,
    input:checked + label { opacity: 1; }
    .slight:after { border-radius: 10px 0 0 0; }
    .round:after { border-radius: 25px 0 0 0; } }
}

//.chzn-container-single .chzn-single div b { background-image: url("/bundles/wixgoogleadsenseapp/app/lib/chosen/chosen-sprite.png"); }

.bottom_section {
  height: 50px;
  .warning {
    $warning-position:image-width("settings/ge/ge_exclamation.png") + 10px;
    @include inline-block(375px,auto,auto,auto,auto);
    font-size: 11px;
    position: relative;
    padding-left: $warning-position;
    margin-top: 20px;
    &:before {
      content: inline-image("settings/ge/ge_exclamation.png");
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -#{image-height("settings/ge/ge_exclamation.png") / 2}; }
    }
  .submit_ad {
    @include inline-block(142px,29px,auto,auto,29px);
    float: right;
    margin-top: 20px;
    font-size: 16px;
    padding: 0; }
}