/*general rules*/
body {
text-align:center;
color:#333;
background:#FAF0D9;
padding:20px 0 30px; }

/*extras - just to make it look good here, for me*/
/*should be the style for the container or it's direct child (divs) */
#test_container {
  box-shadow: 0 1px 4px rgba(0,0,0,0.3),
              0 0 40px rgba(0,0,0,0.1) inset;
  position:relative;
  z-index:1;
  width:800px;
  background:#FAF0D9;
  margin:0 auto;
  background:#fff;
  padding:2em;
  text-align: left;
  p {
    font-size:16px;
    font-weight:700; }
  > div { margin: 20px 0; }
}