@import "modules/helper.scss";

// ******************************************************************************************************************************
// Variables
// ******************************************************************************************************************************
$container-width: 980px;
$sidebar-width: 325px;
$main-width: $container_width - $sidebar-width;
