p { line-height: 1.2; color: #000; }
a:visited,
a:hover,
a:active,
a { color: $color_wixBlue; }
ul { list-style: none; padding: 0; margin: 0; }

/* ************** */
/* Style settings */
/* ************** */
.box_title {
  @include inline-block(100%,20px,auto,top,20px);
  @include box-sizing("border-box");
  font-size: 14px;
  cursor: pointer;
  padding-left: 30px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
    color: $color_wixBlue;
  &.ui-state-active {
      color: black;
      &:before { @include background-image("settings/ge/ge_arrow_active.png"); }
    }
    &:hover.ui-state-active { cursor: default; }
  &:before {
  content:"";
  position: absolute;
  top: 2px;
  left: 5px;
  @include background-image("settings/ge/ge_arrow_hover.png"); } }

.style_setting {
    border-top: 1px solid $border_color;
    height: 51px;
    line-height: 51px;
  & > div { @include inline-block(55%,auto,auto,middle,auto); }
  & > .opacity { width: 43%; }
  label {
    line-height: 51px;
    display: inline-block;
    float: none !important;
    color: $color_darkGrey; }
  label:first-child {
    width: 180px;
    text-indent: 20px;
    color: $color_darkGrey; }
  label[for="shadow"] {
    margin-top: 15px;
    text-indent: 20px; }
  .colorPicker-picker {
    @include background-image("settings/btn/btn_colorpicker.png");
    vertical-align: middle;
    margin-right: 30px; }
  .colorPicker-picker:hover { @include box-shadow(0 0 2px #000); }
  .colorPicker-picker:active { @include box-shadow(0 2px 1px #ccc inset); }
  input[data-ui-colorpicker] { display: none; }
  .colorPicker-picker + .colorPicker_label {
    margin-left: 15px;
    width: 180px; }
  select { display: inline-block; width: auto; }
  .chzn-container { margin-top: -4px;}
  #font_type_chzn { margin-right: 80px; }
  #font_size_chzn { margin-left: 10px; }
}

.settings_layout {

  h2 { width: 100%; }
  h2:after {
    content: "";
    color: #3A3A3A;
    position: absolute;
    right: 20px;
    padding-left: 25px; }
  h2.text:after {
    content:"Text";
    background: transparent inline-image("settings/ge/icon_type_text.png") left center no-repeat; }
  h2.image:after {
    content:"Image";
    background: transparent inline-image("settings/ge/icon_type_image.png") left center no-repeat; }
  h2.text_image:after {
    content:"Text & Image";
    background: transparent inline-image("settings/ge/icon_type_image.png") left center no-repeat; }

  .layouts,
  .types {
    padding-top: 10px;
    border-top: 1px solid #e7e7e7;
    li {
      @include inline-block(32%,auto,center,auto,auto);
      position: relative;
      vertical-align: top;
      label {
        margin: 10px 0;
        display: block;
        width: 100%; } }
    img { margin: 50px 0; } }
  .disabled { opacity: 0.5; }

  .layouts {
    li { margin: 0 0 120px; }
    li:after {
      content: "";
      left: 50%;
      position: absolute;
      background: transparent inline-image("settings/bg/bg_tile.png") top left repeat;
      border: 1px solid #ccc; }
    .rectangle:after { @include layout-shape(70px,60px); }
    .scraper:after { @include layout-shape(55px,90px); }
    .banner:after { @include layout-shape(80px,30px); } }

  .types {
    li:after {
    content: "";
    border-left: 1px solid #e5e5e5;
    height: 120px;
    position: absolute;
    top: 80px;
    left: 0; }
    li:first-child:after { border: none; } }

  .cornder_radius {
    padding: 15px 0 0;
    border-top: 1px solid #e7e7e7;
    h3 {
      @include inline-block(auto,auto,auto,top,29px);
      color: #3A3A3A;
      margin: 0 70px 0 20px;
      font-size: 14px; }
    .radiuses {
      @include inline-block(auto,auto,auto,top,auto);
      font-size: 0; }
    label {
      @include inline-block(50px,50px,auto,auto,auto);
      vertical-align: top;
      float: none;
      margin: 0 60px 0 0;
      position: relative;
      color: transparent;
      opacity: 0.5;
      background: #e6e6e6; }
    label:before { left: -25px; }
    label:after {
      content: "";
      background: none;
      height: 16px;
      width: 16px;
      border: 6px solid #94DCFF;
      border-width: 6px 0 0 6px;
      left: 50%;
      top: 15px;
      margin-left: -9px;
      position: absolute; }
    label:hover,
    input:checked + label { opacity: 1; }
    .slight:after { @include border-radius(10px 0 0 0); }
    .round:after { @include border-radius(25px 0 0 0); } }
}

.chzn-container-single .chzn-single div b { background-image: url("/bundles/wixgoogleadsenseapp/app/lib/chosen/chosen-sprite.png"); }

.bottom_section {
  height: 50px;
  .warning {
    $warning-position:image-width("settings/ge/ge_exclamation_small.png") + 10px;
    @include inline-block(375px,auto,auto,auto,auto);
    font-size: 11px;
    position: relative;
    padding-left: $warning-position;
    margin-top: 20px;
    &:before {
      content: inline-image("settings/ge/ge_exclamation_small.png");
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -#{image-height("settings/ge/ge_exclamation_small.png") / 2}; }
    }
  .submit_ad {
    @include inline-block(142px,29px,auto,auto,29px);
    float: right;
    margin-top: 20px;
    font-size: 16px;
    padding: 0; }
}