.box_title {
  @include inline-block(100%,20px,auto,top,20px);
  @include box-sizing("border-box");
  @include accordion_arrow("default");
  font-size: 14px;
  cursor: pointer;
  padding-left: 30px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  color: $wixBlue;
  text-align: left;
  overflow: hidden;

  &.ui-state-active {
    @include accordion_arrow("active");
    color: black; }
  &:not(.ui-state-active):hover { @include accordion_arrow("hover"); }
}