/*
Wix buttons mixin -
Just add a color and it will calculate everything accordinly.
Include:
  + Linear gradient, using shade function in compass.
  + Border color and text color according to the color brightness.
  + Two most common wix button styles (btn-blue and btn-white).

In your scss:
.btn-color { @include wixButton($color); }

In your html:
<a href="#" class="btn-color">Some button</a>

TODO: On-the-fly button generator.
*/

@mixin wixButton($color) {
  $shadedColor: shade($color,15%);
  $txtColor: $wixBright;
  $borderColor: shade($wixGray,15%);

  @if lightness($color) >= 60% {
    $txtColor: $wixDark;
    $borderColor: $wixGray;
  }
  background: $color;
  @include background($color linear-gradient($color 30%,$shadedColor 70%));

  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid $borderColor;
  color: $txtColor;
  font-size: 13px;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 2px 2px $borderColor;
    color: $txtColor; }
  &:focus, &:active {
    box-shadow: 1px 1px 1px $borderColor inset;
    color: $txtColor; }
}
.btn-blue { @include wixButton(#00a5ff); }
.btn-white { @include wixButton(#f6f6f6); }