/*
Color picker implementation.

Automatically imports with the color picker module.
See <a href="#">Color picker module</a>
*/

@mixin colorPicker {
  $imagePath: "settings/btn/btn_colorpicker.png";
  @include background-image($imagePath);
  height: image-height($imagePath) / 3;

  vertical-align: middle;
  border: none;
  position: relative;

  &:hover { background-position: 0 -#{image-height($imagePath) / 3 + 1}; }
  &:active { background-position: 0 -#{image-height($imagePath) / 3 * 2 + 1}; }
  & ~ .inner {
    @include inline-block(28px,16px,auto,auto,auto);
    content:"";
    top: 8px;
    left: -45px; }
}
div.colorPicker-picker { @include colorPicker; }