// ******************************************************************************************************************************
// Partials
// ******************************************************************************************************************************
@import "compass/css3";
@import "partials/background-image.scss";
@import "partials/inline-align.scss";
@import "partials/inline-block.scss";

// ******************************************************************************************************************************
// Variables
// ******************************************************************************************************************************

// ******************************************************************************************************************************
// Mixins
// ******************************************************************************************************************************

// ******************************************************************************************************************************
// Nuggets of gold
// ******************************************************************************************************************************
/*clearfix*/
.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after {
	content: "";
	display: table; }
.clearfix:after { clear: both; }

// ******************************************************************************************************************************
// Site specific nuggets of gold
// ******************************************************************************************************************************
.action_links {
	@include border-radius(4px);
	background: #45a1d2;
	@include background(linear-gradient(#45a1d2 50%,#338fbe 50%));
	@include inline-align(29px, center);
	color: #fff !important;
	padding: 0 10px;
	border: 1px solid #c4c4c4;
	display: inline-block;
	&:hover { @include box-shadow(1px 2px 2px #aaa); }
	&:active { @include box-shadow(0 2px 1px #aaa inset); } }

input[type="text"] {
	@include inline-align(30px);
	border: 1px solid #ccc;
	@include border-radius(3px);
	@include box-sizing("border-box");
	padding: 0 10px;
	color: #b2b2b2;	}