// ******************************************************************************************************************************
// Partials
// ******************************************************************************************************************************
@import "compass/css3";
@import "partials/background-image.scss";
@import "partials/inline-align.scss";
@import "partials/inline-block.scss";

// ******************************************************************************************************************************
// Variables
// ******************************************************************************************************************************
$wixBlue: #0099ff;
$wixWhite: #f6f6f6;
$wixGray: #c5c5c5;
$wixDark: #3a3a3a;

// ******************************************************************************************************************************
// Mixins
// ******************************************************************************************************************************
@mixin wixButton($color) {
  $shadedColor: shade($color,15%);
  $txtColor: $wixWhite;
  $borderColor: shade($wixGray,15%);

  @if lightness($color) >= 60% {
    $txtColor: $wixDark;
    $borderColor: $wixGray;
  }

  @include border-radius(4px);
  @include background($color linear-gradient($color 30%,$shadedColor 70%));

  padding: 5px 10px;
  display: inline-block;
  border: 1px solid $borderColor;
  color: $txtColor;

  &:hover {
    @include box-shadow(1px 2px 2px $borderColor);
    color: $txtColor; }
  &:focus, &:active {
    @include box-shadow(1px 1px 1px $borderColor inset);
    color: $txtColor; }
}
.btn_blue { @include wixButton(#00a5ff); }
.btn_white { @include wixButton(#f6f6f6); }

// ******************************************************************************************************************************
// Nuggets of gold
// ******************************************************************************************************************************
/*clearfix*/
.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after {
	content: "";
	display: table; }
.clearfix:after { clear: both; }

// ******************************************************************************************************************************
// Site specific nuggets of gold
// ******************************************************************************************************************************
input[type="text"] {
	@include inline-align(30px);
	border: 1px solid #ccc;
	@include border-radius(3px);
	@include box-sizing("border-box");
	padding: 0 10px;
	color: #b2b2b2;	}