$padding: 20px;

.settings-window {
  @include box-sizing("border-box");
  background: $wixBright;
  width: 620px;
  padding: $padding;
  position: relative;
}
.box-style {
  border: 1px solid $wixGray;
  border-radius: 8px;
  background: #fff;
  padding: $padding/2;
}
.ajax-loader {
  position: absolute;
  top: 200px;
  left: 300px;
}

/* *********** */
/* top section */
/* *********** */
.settings-top {
  @extend .box-style;
  font-size: 0;
  & > div {
    display: inline-block;
    height: 150px;
    font-size: 12px; }

  .logo {
    border-right: 1px solid #e7e7e7;
    padding: 0 $padding;
    a:before {
      content: " ";
      display: inline-block;
      height: 100%;
      vertical-align: middle; } }

  .connect {
    @include box-sizing("border-box");
    vertical-align: top;
    padding: $padding/2 $padding;
    position: relative;
    width: 440px;

    .bottom-left {
      position: absolute;
      bottom: $padding/2;
      left: $padding; }
    .bottom-right {
      position: absolute;
      right: $padding;
      bottom: $padding/2; }
  }
}